main {
    h1 {
        grid-area: h1;
    }
    .formulario {
        grid-area: formulario;
    }
    .bgContacto {
        grid-area: bgContacto;
    }
    .galeria {
        grid-area: galeria;
    }
    .sneakers {
        grid-area: sneakers;
    }
    .subHeader {
        grid-area: subHeader;
    }
    .info {
        grid-area: info;
    }
    h2 {
        grid-area: h2;
    }
    .hOfertas {
        grid-area: hOfertas;
    }
    .sneakersDestacadas {
        grid-area: destacados;
    }
    .pIndex,
    .parrafos {
        grid-area: p;
    }
    .ofertas {
        grid-area: ofertas;
    }
}