@import "../variables/variables";

.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
    margin: 0 100px;
    img {
        object-fit: scale-down;
        max-height: 350px;
    }
}

.galeriaImg {
    width: 350px;
    height: 350px;
    margin: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

/* pantallas de escritorio */
@media screen and (min-width: 1024px) {
    /* Generales */
    .parrafos,
    .pIndex {
        padding: 0;
        margin: 3rem 0;
    }

    /* Grid */
    #nosotros {
        @include grid("subHeader subHeader subHeader"
        "p p p"
        "h2 h2 h2"
        "galeria galeria galeria", auto);
    }
}