@import "../variables/variables";

.sneakers {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1rem 1rem;
    img {
        max-height: 100px;
        width: auto;
    }
}

/* pantallas de escritorio */
@media screen and (min-width: 1024px) {
    /* Generales */
    .parrafos,
    .pIndex {
        padding: 0;
        margin: 3rem 0;
    }

    /* Grid */
    #sneakers {
        @include grid("subHeader subHeader subHeader"
        "sneakers sneakers sneakers", auto);
    }

    /* Sneakers */
    .sneakers {
        padding: 1rem 5rem;
        img {
            max-height: 165px;
            width: auto;
        }
    }
}